@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
.sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 0.5rem;
  position: fixed;
  top: 5%;
  background-color: white;
  z-index: 99;
  border-radius: 3rem;
  box-shadow: 5px 5px 24px 5px #f8d1b7; }
  .sidebar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem; }
  .sidebar li {
    list-style: none; }
    .sidebar li:hover {
      transform: scale(1.25); }

#projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100vw;
  height: 100vh;
  overflow-x: auto; }
  #projects-section h1 {
    font-size: 2rem; }

.projects-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: 100%;
  height: auto;
  z-index: 4;
  background: transparent;
  overflow-x: scroll;
  scroll-snap-type: inline mandatory; }
  .projects-wrapper-ms-overflow-style, .projects-wrapper::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; }

.project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0;
  background-color: white;
  flex: none;
  z-index: 5;
  overflow: visible;
  scroll-snap-align: center;
  border-radius: 5rem;
  box-shadow: 5px 5px 30px 1px #fbe0c8; }
  .project:last-child {
    margin-right: 30rem; }

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  width: auto;
  height: 30vh;
  background-color: white;
  padding: 2rem; }

.project-figure {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem; }
  .project-figure .button {
    width: 60%;
    height: auto;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    color: #FAEBDE;
    background: black;
    background: linear-gradient(45deg, black 53%, #a7a7a7 100%);
    border: none;
    box-shadow: 5px 5px 24px 3px #fbe0c8; }
  .project-figure img {
    width: 100%;
    height: 100%;
    border: solid 3px black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: black; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: auto;
  height: 100%;
  padding: 0 4rem;
  overflow-x: hidden;
  background-color: #FAEBDE; }

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: auto;
  height: 100vh;
  text-align: center; }
  .main-section h1 {
    font-size: 3rem;
    line-height: 148%; }
  .main-section a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black; }

/*# sourceMappingURL=main.css.map */
