@import ../abstract/variables
@import ../abstract/mixins



#projects-section
  @include flex(column, $gap: 3rem)
  @include size(100vw, 100vh)
  overflow-x: auto


  h1
    font-size: 2rem

.projects-wrapper
  padding: 1rem
  @include flex (row, space-between, center, 5rem)
  @include size(100%)
  z-index: 4
  background: transparent
  overflow-x: scroll
  scroll-snap-type: inline mandatory
  //box-shadow: 5px 5px 24px 5px rgb(248, 209, 183)
  &-ms-overflow-style, &::-webkit-scrollbar
    display: none
    scrollbar-width: none


.project
  @include size(100%, 100%)
  @include flex(column-reverse)
  background-color: $color-secondary
  flex: none
  z-index: 5
  overflow: visible
  scroll-snap-align: center
  border-radius: 5rem
  box-shadow: 5px 5px 30px 1px rgb(251, 224, 200)
  &:last-child
    margin-right: 30rem

.project-text
  @include flex(column, $align: flex-start, $gap: 3rem)
  @include size($height: 30vh)
  background-color: $color-secondary
  padding: 2rem
  //border-radius: 1rem
  //box-shadow: 5px 5px 20px 1px rgb(251, 224, 200)

.project-figure
  @include size(100%, 80%)
  @include flex(column, $gap: 3rem)
  //background-color: $color-secondary
  //box-shadow: 5px 5px 20px 1px rgb(251, 224, 200)
  .button
    @include size(60%)
    text-align: center
    text-decoration: none
    padding: .5rem
    color: $color-primary
    background: rgb(0,0,0)
    background: linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(167,167,167,1) 100%)
    border: none
    box-shadow: 5px 5px 24px 3px rgb(251, 224, 200)



  img
    @include size(100%, 100%)
    border: solid 3px $color-text


